<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<div layout:fragment="content" class="main">
    <main class="container">
        <section class="title">
            <div>아이디 찾기</div>
        </section>
        <section class="emailAuthentication">
            <div>
                <div class="d-flex align-items-center">
                <div class="form-floating writeEmail">
                    <input type="text" class="form-control" id="email" name="email" placeholder="이메일을 입력해주세요.">
                    <label for="email">이메일</label>
                </div>
                <div class="sendAuthEmail">
                    <button class="btn btn-dark" id="btnSendAuthNum">인증요청</button>
                </div>
                </div>
                <div class="form-floating visually-hidden confirmAuthNum">
                    <input type="text" class="form-control" id="authNum" placeholder="→ 이메일로 받은 인증번호를 입력해주세요.">
                    <label for="authNum">→ 이메일로 받은 인증번호를 입력해주세요.</label>
                    <span id="messageAuthNum"></span>
                </div>
                <div class="mt-2">
                    <button class="btn btn-dark w-15 mt-4" id="btnAuthConfirm">확인</button>
                </div>
            </div>
        </section>
    </main>
    <script th:src="@{/js/mailAuthentication.js}"></script>
</div>
</html>