<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div class="container" th:fragment="headerFragment">
    <div class="header">
        <!-- header -->
        <div class="header d-flex flex-wrap justify-content-center py-3 mt-4 mb-4">
            <a href="/" class="title d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <span class="fs-4">견종백과</span>
            </a>
            <ul class="nav nav-pills">
                <li class="nav-item"><a href="/board/feed" class="headerNav nav-link">Feed</a></li>
                <li class="nav-item"><a href="/user/myPage" class="headerNav nav-link">My Page</a></li> <!-- 드롭다운 -->
                <li class="nav-item"><a href="/" class="headerNav nav-link">Main Page</a></li>
                <li class="nav-item"><a href="/auth/logout" class="headerNav nav-link">Logout</a></li>
                <!-- <li class="nav-item"><a href="#" class="headerNav nav-link black">Chatbot</a></li> -->
            </ul>
        </div>
        <!-- header end -->
    </div>
</div>
</html>