<!DOCTYPE html>
<html lang="ko">
<html xmlns: th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>부멍님이 누구니?</title>

    <!-- 커스텀 style-->
    <link rel="stylesheet" th:href="@{/CSS/main.css}"/>

    <!-- bootstrap Core-->
    <link href="/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/CSS/bootstrap2.css}"/>

    <!-- ChartJS-->
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.0/chart.umd.min.js"></script>
</head>
<body>
<div id='wrapper'>
<!-- Header-->
<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/static" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
            <span class="fs-4">부멍님이 누구니?</span>
        </a>

        <ul class="nav nav-pills">
            <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">홈페이지</a></li>
            <li class="nav-item"><a href="/board/feed" class="nav-link">게시판</a></li>
            <li class="nav-item"><a href="#" class="nav-link">로그인</a></li>
            <li class="nav-item"><a href="#" class="nav-link">회원가입</a></li>
            <li class="nav-item"><a href="#" class="nav-link">정보</a></li>
        </ul>
    </header>
</div>

<!-- Body-->
<div class="Body">
    <div>
        <br>
        <h5>당신의 강아지 사진을 올려주세요!</h5>
    </div>
    <form action="upload/S3_image" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <br>
        <button type="submit" class="btn btn-primary">분석하기!</button>
    </form>
</div>
</div>
<!-- Footer-->
<footer class="py-4" id="footer"  style="background-color: dodgerblue" >
    <div class="container px-4"><p class="m-0 text-center small" style="color:white">Copyright &copy; 부멍님이 누구니? 2024</p></div>
</footer>

</body>
</html>