<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<div layout:fragment="content" class="main">
    <div class="container">
        <!-- 로그인한 사용자가 팔로우하는 사람들이 올린 피드를 보이는 곳 -->
        <article class="feedList" id="feedList">
                <!--
                <li>
                    <div>
                        <div class="userProfile">
                            <img th:src="@{|/upload/${get.user.profileImageUrl}|}" alt="">
                        </div>
                        <div class="userFeedImage">
                            <img th:src="@{|/upload/${getFeedInfo.imageUrl}|}" alt="">
                        </div>
                    </div>
                </li>
                -->
        </article>
    </div>
    <script th:inline="javascript">
        const loggedId = [[${#authentication.principal.loggedUser.id}]];
    </script>
    <script th:src="@{/js/feeds.js}"></script>
</div>
</html>